{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="sidebar">
      <h2>My blog</h2>
      <p>
        This is my blog.
        <br />
        I've written {% posts_count %} posts so far.
      </p>
      <p>
        <a target="_blank" href="{% url 'blog:post_feed' %}">Subscribe to my RSS feed.</a>
      </p>
      <h3>Latest Posts</h3>
      {% latest_posts 6 %}
      <h3>Most commented posts</h3>
      {% most_commented_posts 4 %}
    </div>
  </body>
</html>
